*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: bisque;
}
.hero{
    width: 80%;
    background-color: rgba(35, 41, 73);
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 80px;
    height: 70vh;
    padding: 2rem;
}
header{
    width: 100%;
    text-align: center;
    color: white;
    margin: 1.2rem 0;
    box-shadow: 0px 1px 1px cyan;
    padding: 1rem;
}
.main-board{
    display: flex;
    gap: 1rem;
}
.main-board > *{
    flex: 0 0 40%;
    background-color: rgba(35, 41, 73);
    color: white;
    height: 45vh;
   
}
.board-left{
    text-align: center;
}
.board-right{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.displaybox{
    background-color: rgba(48, 54, 90);
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.headings{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headings h1{
    font-size: 3.5rem;
}
.sizes{
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: rgb(55, 65, 118);
    font-size: 0.6rem;
    padding-top: 0.5rem;
}
input[type="number"]{
  width: 80%; 
  height: 2rem; 
  text-align: center;
  border: none;
  display: block;
  margin: 0.8rem auto;
}
input[type="radio"] {
  accent-color: #4CAF50; 
  cursor: pointer;
  width: 15px;
  height: 15px;
  border: none;
  margin-left: 0.4rem;
}
.radio{
    /*border-top: 1px solid white;
     border-bottom: 1px solid white;*/
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 0;
}
label{
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    
}
.cal-but{
    width: 80%;
    height: 50px;
    margin: 0 auto;
    background-color: rgba(23, 81, 95);
    color: white;
    border: 1px solid rgb(51, 179, 211);
    border-radius: 5px;
}
.cal-but:hover{
    background-color: rgb(7, 49, 59);;
    transition: all 0.3s ease-in-out;
}
.clear-but{
    width: 80px;
   
}
button{
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.buttonsEl{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
}
span{
    font-weight: 600;
    font-size: 1.3rem;
}
.client_type{
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 1.2rem 0;
}
.user-field{
    margin-top: 1rem;
}